{
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "ecmaVersion": 6,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "amd": true,
    "browser": true,
    "mocha": true,
    "jquery": true
  },
  "rules": {
    "strict": 0,
    // Possible errors

    "comma-dangle": [
      2,
      "never"
    ],
    "no-cond-assign": 2,
    "no-constant-condition": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": [
      1,
      "functions"
    ],
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,
    // Best practices

    "complexity": [
      1,
      10
    ],
    "curly": 2,
    "default-case": 2,
    "eqeqeq": 2,
    "no-alert": 1,
    "no-caller": 2,
    "no-eval": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-param-reassign": 1,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": [
      2,
      {
        "allowShortCircuit": true
      }
    ],
    "no-useless-concat": 2,
    "no-void": 2,
    "no-with": 2,
    "radix": 2,
    // Variables

    "no-delete-var": 2,
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 0,
    // Strict

    "global-strict": 0,
    // Style

    "camelcase": 2,
    "indent": [
      1,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      1,
      "single"
    ],
    "no-underscore-dangle": 1,
    // React

    "react/display-name": 0,
    "react/jsx-boolean-value": 2,
    "jsx-quotes": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 1,
    "react/jsx-wrap-multilines": 2
  }
}
